.Span{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 68px;
  width: 600px;
  margin: 10px 0;
  height: 70px;
  background-color: blue;
}
.Span:hover:before{
  position: absolute;
  content: 'double click to change the text';
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 20px;
  bottom: -20px;
  background-color: rgba(220, 20, 20, .5);
 
}
