.Packs{
  background: darkslategray;
  text-align: center;
 padding-top: 50px;
 height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-attachment: fixed; 
}