
.red {
    text-decoration: none;
    outline: none;
    display: inline-block;
    padding: 10px 30px;
    margin: 10px 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid #fe6637;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #fe6637;
    transition: .2s ease-in-out;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 20px;
    line-height: 8px;

}

.red:before {
    content: "";
    background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
    height: 50px;
    width: 50px;
    position: absolute;
    top: -8px;
    left: -75px;
    transform: skewX(-45deg);
}

.red:hover {
    background: #fe6637;
    color: #fff;
}

.red:hover:before {
    left: 150px;
    transition: .5s ease-in-out;
}