
.TestComponents{
  margin: 0 auto;
  background-color: skyblue;
  text-align: center;
  min-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px 20px;
  height: 100%;
}